/* Will be compiled down to a single stylesheet with your sass files */
#editor { 
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    top: 0;
}

section {
  background-color: lightgray;
}